<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <meta name="google-site-verification" content="" />

        <title></title>
        <meta name="description" content="" />
        <meta name="keywords" content="">

        <link type="text/plain" rel="author" href="humans.txt" />

        <!-- ICONS -->
        <link rel="icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon" href="img/apple-touch-icon-precomposed" />

        <!-- FACEBOOK METAs -->
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">

        <!-- BOILERPLATE CSS -->
        <link rel="stylesheet" href="css/boilerplate/normalize.css">
        <link rel="stylesheet" href="css/boilerplate/main.css">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

        <!-- FONTS -->
        <!--<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>-->

        <!-- MY CSS -->
        <link rel="stylesheet" href="css/screen.css">
        <link rel="stylesheet" href="css/screen_xs.css">
        <link rel="stylesheet" href="css/screen_sm.css">
        <link rel="stylesheet" href="css/screen_md.css">
        <link rel="stylesheet" href="css/screen_lg.css">

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.10.2.min.js"></script>

        <!-- MODERNIZER -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <!-- BOOTSTRAP -->
        <script src="js/vendor/bootstrap.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        <![endif]-->

        <!-- VENDOR PLUGINS -->


        <!-- BOILERPLATE PLUGIN -->
        <script src="js/boilerplate/plugins.js"></script>     
    </head>
    <body>
        <div id="main-wrapper" class="container">
            <h1>Pomodoro</h1>
            {{{body}}}
        </div>

        <!-- TEST RUNNER -->
        <!-- to activate the test runner, add the "?test" query string parameter -->
        <script src="tests/runner.js"></script>
    </body>
</html>




