<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="habaneroTeamTimer" ng-controller="AppController" id="ng-app" class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>habaneroTeamTimer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- bower:css -->
        <!-- endbower -->
        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <h1>habaneroTeamTimer</h1>
        <div ui-view="main"></div>

        <!-- bower:js -->
        <script src="vendor/jquery/dist/jquery.js"></script>
        <script src="vendor/es5-shim/es5-shim.js"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-mocks/angular-mocks.js"></script>
        <script src="vendor/json3/lib/json3.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="vendor/angular-resource/angular-resource.js"></script>
        <script src="vendor/angular-cookie/angular-cookie.js"></script>
        <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="vendor/angular-touch/angular-touch.js"></script>
        <!-- endbower -->

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </body>
</html>